body{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:100px;
  }
  header{
    width: auto; 
  display: flex;

  gap:15px; 
  }
  
  .logo {
    width: 200px;
    display: flex;
  justify-content: center;
  }
 h1 {
     font-size: 50px; 
     font-weight: 900;
     font-family:'Courier New', Courier, monospace;
    display: flex;
    margin-left: 450px;
    padding-top: 50px;
  }
  #h1witha a {
    margin-top: 15px ;
    font-size: large;
     display: flex;
     justify-content:flex-start; 
     margin-right: 50px;
    text-decoration: none; 
    color: #4D455D;
    margin-top: 60px;
   }

   #employee-form {
   width:auto;
    margin-bottom: 50px;
   }
   fieldset{
    border-radius: 5px;
   }
   legend{
    font-size: 20px;
    font-style: italic;
   }
   label, option{

    font-size: 17px;
    font-style: italic;
   }
   input {
    border: 2px solid #C0DBEA;
   border-radius: 5px;
    padding: 10px;
}
select {
  border: 2px solid #C0DBEA;
  border-radius: 5px;
  padding: 10px;
}

button {
  background-color: #C0DBEA;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  width: 30%;
}
   #employee-form div {
    display: flex;
    justify-content: center;
   gap: 30px;
    padding-top: 20px;
   }

   #employeeCard{
    margin-top: 20px ;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2px 16px;
   }
   #employeeCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

   #Administration{
    width: 25%;
    background-color: #C0DBEA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 20px;

   }
   #Marketing{
    width: 25%;
    background-color: #FFA559;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 20px;

   }

   #Development{
    width: 25%;
    background-color:#C0DBEA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
   }
   #Finance{
    width: 25%;
    background-color: #FFA559;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

   }


   #employeeCard section{
    /* font-size: ; */
    font-style: italic;
    display: flex;
     justify-content:center; 
    text-align: center;
   }

 footer p {
    display: flex;
    justify-content: center;
    text-align:center;
    flex-direction: column;
    padding: 20PX;
    background-color:#BDCDD6;
    
}

footer a {
    display: flex;
     justify-content:center; 
    text-align: center;
    flex-direction: row ; 
    text-decoration: none;
    color: #4D455D;
    padding: 5px 10px;
   background-color:#BDCDD6; 
    width: auto; 
 } 

img{
  border-radius: 10%;
  padding: 6px;
  width: 250px;
  height: 300px;
}


table {
  width: 75%;
  margin-left:150px ;
}

th, td {
  border-bottom: 1px solid #ddd;
  height: 30px;
  text-align: center;
  padding-top:20px;

}
th {
  background-color: #FFA559;
  color: white;
}
